<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Bravo!</title>
</head>

<body>
    <div class="container">
        <h1>Bravo!</h1>
        <h3>Start</h3>
        <a href=# id=calibrate><button type="button" class="btn btn-info">Calibrate</button></a>
        <h3>Useful positions</h3>
        <a href=# id=goto_rest_position><button type="button" class="btn btn-primary">Goto Home</button></a>
        <a href=# id=goto_zero><button type="button" class="btn btn-primary">Goto Zero</button></a>
        <h3>Learning mode</h3>
        <a href=# id=activate_learning_mode><button type="button" class="btn btn-success">On</button></a>
        <a href=# id=deactivate_learning_mode><button type="button" class="btn btn-danger">Off</button></a>
        <h3>Video</h3>
        <div>
            <img src="http://192.168.1.139:8081/">
        </div>
        <h3>Movements</h3>
        <form id="ajax_movements_form" action="" method="get">
            <div class="form-group">
                <label for="joint_1">Joint 1</label>
                <input type="range" min="-3.05" max="3.05" step="0.01" value ="0.0" class="form-control-range" id="joint_1" name="joint_1">

                <label for="joint_2">Joint 2</label>
                <input type="range" min="-1.91" max="0.64" step="0.01" value ="0.0" class="form-control-range" id="joint_2" name="joint_2">

                <label for="joint_3">Joint 3</label>
                <input type="range" min="-1.39" max="1.57" step="0.01" value ="0.0" class="form-control-range" id="joint_3" name="joint_3">

                <label for="joint_4">Joint 4</label>
                <input type="range" min="-3.05" max="3.05" step="0.01" value ="0.0" class="form-control-range" id="joint_4" name="joint_4">

                <label for="joint_5">Joint 5</label>
                <input type="range" min="-1.74" max="1.91" step="0.01" value ="0.0" class="form-control-range" id="joint_5" name="joint_5">

                <label for="joint_6">Joint 6</label>
                <input type="range" min="-2.57" max="2.57" step="0.01" value ="0.0" class="form-control-range" id="joint_6" name="joint_6">
            </div>
            <a href=# id=ajax_movements_button><button type="button" class="btn btn-primary">Go</button></a>
        </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function() {
            $('a#calibrate').bind('click', function() {
                $.getJSON('/calibrate.json',
                    function(data) {
                        console.log(data);
                    });
                return false;
            });
            $('a#activate_learning_mode').bind('click', function() {
                $.getJSON('/activate_learning_mode.json',
                    function(data) {
                        console.log(data);
                    });
                return false;
            });
            $('a#deactivate_learning_mode').bind('click', function() {
                $.getJSON('/deactivate_learning_mode.json',
                    function(data) {
                        console.log(data);
                    });
                return false;
            });
            $('a#goto_rest_position').bind('click', function() {
                $.getJSON('/goto_rest_position.json',
                    function(data) {
                        console.log(data);
                    });
                return false;
            });
            $('a#goto_zero').bind('click', function() {
                $.getJSON('/goto_zero.json',
                    function(data) {
                        console.log(data);
                    });
                return false;
            });
            $('a#ajax_movements_button').bind('click', function() {
                var j1 = $('#joint_1').val();
                var j2 = $('#joint_2').val();
                var j3 = $('#joint_3').val();
                var j4 = $('#joint_4').val();
                var j5 = $('#joint_5').val();
                var j6 = $('#joint_6').val();
                console.log(j1);
                $.getJSON('/move?j1='+j1+'&j2='+j2+'&j3='+j3+'&j4='+j4+'&j5='+j5+'&j6='+j6,
                    function(data) {
                        console.log(data);
                    });
                return false;
            });
        });
    </script>
</body>

</html>
